.empty {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: 50vh;
    min-height: 320px;
    padding: 1.5rem;
    display: flex;
    border: 2px dashed grey;
}

.play {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 6rem;
    align-items: center;
}