.logo {
    filter: invert(74%) sepia(75%) saturate(200%) hue-rotate(350deg) brightness(95%) contrast(85%);
}

.search {
    top : 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0.65rem;
}

.manage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 578px) {
    .search {
        left: 0.35rem
    }
}